@model Wspolnota.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <div style="border: 1px solid lightgrey; padding:1%; margin:2%;">
        @if (Model.GetType().Name.ToString() == "Announcement")
        {
            @Html.Partial("AnnouncementRenderer", Model)
        }
        else if (Model.GetType().Name.ToString() == "Survey")
        {
            @Html.Partial("SurveyRenderer", Model);
        }
        else if (Model.GetType().Name.ToString() == "Brochure")
        {
            @Html.Partial("BrochureRenderer", Model)
        }

        <div class="text-center">
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edytuj", "Edit", new { id = Model.PostId }) @:|
                @Html.ActionLink("Usuń", "Delete", new { id = Model.PostId }) @:|
            }

            @Html.ActionLink("Szczegóły", "Details", new { id = Model.PostId }) | Dodano: @Model.CreatedAt.ToLongDateString() , @Model.CreatedAt.ToShortTimeString()
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
