@model Wspolnota.Models.Post

@{
    ViewBag.Title = "Szczegóły";
    string returnUrl = (string)ViewData["returnUrl"];
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <div style="border: 1px solid lightgrey; padding:1%; margin:2%;">
        @if (Model.GetType().Name.ToString() == "Announcement")
        {
            @Html.Partial("AnnouncementRenderer", Model)
        }
        else if (Model.GetType().Name.ToString() == "Survey")
        {
            @Html.Partial("SurveyRenderer", Model);
        }
        else if (Model.GetType().Name.ToString() == "Brochure")
        {
            @Html.Partial("BrochureRenderer", Model)
        }

        <div class="text-center">
            @if (User.IsInRole("Admin"))
            {
                <div class="d-flex justify-content-around align-items-center">
                    <div class="btn-group">
                        <button type="button" onclick="location.href='@Url.Action("Edit", new { id = Model.PostId })'" class="btn btn-sm btn-outline-secondary">Edytuj</button>
                        <button type="button" onclick="location.href='@Url.Action("Delete", new { id = Model.PostId })'" class="btn btn-sm btn-outline-secondary">Usuń</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<p>
    <button type="button" onclick="location.href='@Url.Action("Index", new { id = Model.CommunityId})'" class="btn btn-sm btn-outline-secondary">Powrót</button>
</p>
