@model IEnumerable<Wspolnota.Models.Post>

@{
    ViewBag.Title = "Community posts";
}

<h2>@Model.First().Community.Name</h2>

<div>
    <p style="text-align:center"><a href="Posts/Create" class="btn btn-primary btn-lg">Create new</a></p>

    @foreach (var item in Model)
    {
        @Html.Value(item.GetType().ToString());
        if (item.GetType().Name.ToString() == "Announcement")
        {
            @Html.Partial("AnnouncementRenderer", item);
        }
        else if (item.GetType().Name.ToString() == "Survey")
        {
            @Html.Partial("SurveyRenderer", item);
        }
        else if (item.GetType().Name.ToString() == "Brochure")
        {
            @Html.Partial("BrochureRenderer", item)
        }
    }
</div>
