@model IEnumerable<Wspolnota.Models.Post>
@{
    ViewBag.Title = "Posty społeczności";
}

<h2>@Model.First().Community.Name</h2>

<div>
    <p style="text-align:center">
        <a href="../Create/@Model.First().CommunityId" class="btn btn-primary btn-lg">
            Nowy post
        </a>
    </p>


    @foreach (var item in Model.OrderByDescending(p => p.CreatedAt.Date).ThenByDescending(p => p.CreatedAt.TimeOfDay).ToList())
    {
    <div style="border: 1px solid lightgrey; padding:1%; margin:2%;">
        @if (item.GetType().Name.ToString() == "Announcement")
        {
            @Html.Partial("AnnouncementRenderer", item)
        }
        else if (item.GetType().Name.ToString() == "Survey")
        {
            @Html.Partial("SurveyRenderer", item);
        }
        else if (item.GetType().Name.ToString() == "Brochure")
        {
            @Html.Partial("BrochureRenderer", item)
        }

        <div class="text-center" style="margin:1%;">
            <div class="btn-group">
                @if (User.IsInRole("Admin"))
                {
                    <button type="button" onclick="location.href='@Url.Action("Edit", new { id = item.PostId })'" class="btn btn-sm btn-outline-secondary">Edytuj</button>
                    <button type="button" onclick="location.href='@Url.Action("Delete", new { id = item.PostId })'" class="btn btn-sm btn-outline-secondary">Usuń</button>
                }
                <button type="button" onclick="location.href='@Url.Action("Details", new { id = item.PostId })'" class="btn btn-sm btn-outline-secondary">Szczegóły</button>
                <button type="button" disabled style="color:black; border-color:black" class="btn btn-sm btn-outline-secondary">Dodano: @item.CreatedAt.ToLongDateString() , @item.CreatedAt.ToShortTimeString()</button>
            </div>
        </div>
    </div>
    }
</div>
