@model Wspolnota.Models.Survey
@{ 
    string userId = (string)ViewData["userId"];
}

<h3>@Html.DisplayFor(s => s.Title)</h3>

@if (Model.Votes.Any(v => v.AuthorId == userId))
{
<div style="margin-left:40px;">
    Liczba wszystkich głosów:
    @Model.Votes.Count(v => v.Answer.Survey.PostId == Model.PostId)
    @foreach (Wspolnota.Models.Answer a in Model.Answers)
    {
        <h4>
            @a.Content: @Model.Votes.Count(v => v.AnswerId == a.AnswerId) głosów.<br />
        </h4>
    }
</div>
}
else
{
    using (Html.BeginForm("CreateVote", "Posts", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div style="margin-left:40px;">
            @foreach (Wspolnota.Models.Answer a in Model.Answers)
            {
                <h4>
                    @Html.RadioButton("AnswerId", a.AnswerId) @a.Content <br />
                </h4>
            }
            <input type="submit" />
        </div>
    }
}