@model IEnumerable<Wspolnota.Models.Community>
@{
    ViewBag.Title = "Lista spółdzielni";
    Wspolnota.Models.ApplicationUser user = (Wspolnota.Models.ApplicationUser)ViewData["user"];
}

@if (User.IsInRole("Admin"))
{
    <p style="text-align:center">
        <a href="/Communities/Create/" class="btn btn-primary btn-lg">
            Nowa spółdzielnia
        </a>
    </p>
}


@if (User.Identity.IsAuthenticated)
{
    <h4>Twoje spółdzielnie:</h4>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Select(c => c).Where(c => c.Users.Contains(user)))
                {

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src=@item.Image alt=@item.Name style="height: 225px; width: 100%; display: block;" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" data-holder-rendered="true" />
                            <div class="card-body">
                                @Html.DisplayFor(modelItem => item.Name)
                                <p class="card-text">@item.Description</p>
                                <div class="d-flex justify-content-around align-items-center">
                                    <div class="btn-group">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <button type="button" onclick="location.href='@Url.Action("Edit", new { id = item.CommunityID })'" class="btn btn-sm btn-outline-secondary">Edytuj</button>
                                            <button type="button" onclick="location.href='@Url.Action("Delete", new { id = item.CommunityID })'" class="btn btn-sm btn-outline-secondary">Usuń</button>
                                        }
                                        <button type="button" onclick="location.href='@Url.Action("Details", new { id = item.CommunityID })'" class="btn btn-sm btn-outline-secondary">Szczegóły</button>
                                        <button type="button" onclick="location.href='@Url.Action("Index", "Posts", new { id = item.CommunityID })'" class="btn btn-sm btn-outline-secondary">Otwórz</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <h4 style="margin-top:40px;">Pozostałe spółdzielnie:</h4>
}
else
{
    <h4 style="margin-top:40px;">Wszystkie dostępne spółdzielnie:</h4>
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Select(c => c).Where(c => !c.Users.Contains(user)))
            {

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src=@item.Image alt=@item.Name style="height: 225px; width: 100%; display: block;" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" data-holder-rendered="true" />
                        <div class="card-body">
                            @Html.DisplayFor(modelItem => item.Name)
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-around align-items-center">
                                <div class="btn-group">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <button type="button" onclick="location.href='@Url.Action("Edit", new { id = item.CommunityID })'" class="btn btn-sm btn-outline-secondary">Edytuj</button>
                                        <button type="button" onclick="location.href='@Url.Action("Delete", new { id = item.CommunityID })'" class="btn btn-sm btn-outline-secondary">Usuń</button>
                                    }
                                    <button type="button" onclick="location.href='@Url.Action("Details", new { id = item.CommunityID })'" class="btn btn-sm btn-outline-secondary">Szczegóły</button>
                                    <button type="button" onclick="location.href='@Url.Action("Join", new { id = item.CommunityID })'" class="btn btn-sm btn-outline-secondary">Dołącz</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
