@model Wspolnota.Models.Community

@{
    ViewBag.Title = "Dołączanie";
}

<h2>@ViewBag.Title</h2>

<h3>Jesteś pewny, że chcesz dołączyć do tej spółdzielni?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa grupy:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Opis:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Link do zdjęcia porfilowego:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>

    @using (Html.BeginForm("Join", "Communities", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.CommunityID)

    <div class="form-actions no-color">
        <button type="button" onclick="location.href='@Url.Action("Index", new { id = Model.CommunityID })'" class="btn btn-sm btn-outline-secondary">Powrót</button>
        <input type="submit" value="Dołącz" class="btn btn-primary" />
    </div>
    }
</div>
