@{
    ViewBag.Title = "Zarządzanie rolami";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Utwórz nową rolę", "Create") | @Html.ActionLink("Spis roli", "Index")
<hr />

<h2>Dodaj rolę użytkownikowi</h2>
@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p>
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
    </p>
    <input class="btn btn-sm btn-outline-secondary" type="submit" value="Dodaj" />
}

<hr />
<h3>Role użytkownika</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Użytkownik : @Html.TextBox("UserName")
    </p>
    <input class="btn btn-sm btn-outline-secondary my-2" type="submit" value="Pobierz" />
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Role użytkownika</h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Usuń rolę użytkownikowi</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Użytkownik : @Html.TextBox("UserName")
        Nazwa roli: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Wybierz ...")

    </p>

    <input class="btn btn-sm btn-outline-secondary" type="submit" value="Usuń" />
}