@model Wspolnota.Models.ApplicationUser
@{
    ViewBag.Title = "Edytowanie profilu";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Ustawienia profilu</h4>
    <hr />
    @using (Html.BeginForm("Edit", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-2 control-label font-weight-bold" for="Email">Email:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label font-weight-bold" for="FirstName">Imię:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label font-weight-bold" for="LastName">Nazwisko:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label font-weight-bold" for="City">Miasto:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label font-weight-bold" for="Address">Adres:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label font-weight-bold" for="PostalCode">Kod pocztowy:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label font-weight-bold" for="BirthDate">Data urodzenia:</label>
            <div class="col-md-10">
                <input class="text-box single-line" id="BirthDate" name="BirthDate" type="date">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label font-weight-bold" for="Gender">Płeć:</label>
            <div class="col-md-10">
                <input htmlattributes="{ class = form-control }" id="Gender" name="Gender" type="radio" value="True"> Mężczyzna
                <input htmlattributes="{ class = form-control }" id="Gender" name="Gender" type="radio" value="False"> Kobieta
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary btn-lg" value="Zatwierdź" />
            </div>
        </div>
    }
</div>
