@model Wspolnota.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzanie kontem";
    var user = (Wspolnota.Models.ApplicationUser)ViewData["user"];
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Ustawienia konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Zarządzaj", "ManageLogins") ]
        </dd>
        <dt>Dwuetapowe uwierzytelnianie:</dt>
        <dd>
            <p>
                Aktualnie niedostępne.
                <!--There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.-->
            </p>
        </dd>
    </dl>


    <h4>Ustawienia profilu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nazwa użytkownika:</dt>
        <dd>@user.UserName</dd>
        <dt>Imię:</dt>
        <dd>@user.FirstName</dd>
        <dt>Nazwisko:</dt>
        <dd>@user.LastName</dd>
        <dt>Data urodzenia:</dt>
        <dd>@user.BirthDate</dd>
        <dt>Miasto:</dt>
        <dd>@user.City</dd>
        <dt>Adres:</dt>
        <dd>@user.Address</dd>
        <dt>Kod pocztowy:</dt>
        <dd>@user.PostalCode</dd>
        <dt>Płeć:</dt>
        <dd>
            @if (user.Gender)
            {
                @:Mężczyzna
            }
            else
            {
                @:Kobieta
            }
        </dd>
    </dl>
    <p style="text-align:center">
        <a href="/Manage/Edit" class="btn btn-primary btn-lg">
            Edytuj profil
        </a>
    </p>
</div>
